body {
  overflow-y: visible; }
  body #row div.header {
    background: #ee6e73;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
    body #row div.header .md-default-theme {
      background: #ee6e73; }
    body #row div.header .drag {
      width: 20px;
      height: 50px;
      background: #000;
      opacity: 0.5;
      position: absolute;
      right: 0;
      -webkit-app-region: drag; }
    body #row div.header img {
      width: 40px;
      margin: 5px;
      padding: 10px; }
  body #row #content {
    padding: 10px 30px; }
    body #row #content ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      body #row #content ul li {
        margin: 10px 0; }
        body #row #content ul li h2 {
          padding: 0; }
        body #row #content ul li h3 {
          font-size: 16px; }
        body #row #content ul li a {
          color: #8c8f95;
          text-decoration: none; }
          body #row #content ul li a:hover {
            text-decoration: underline; }
        body #row #content ul li hr {
          border-left: 0;
          border-right: 0;
          border-top: 1px solid #fff; }
