body {
  overflow-y: visible;
  background: #ebebeb; }
  body #row div.header {
    background: #ee6e73;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
    body #row div.header .md-default-theme {
      background: #ee6e73; }
    body #row div.header .drag {
      width: 20px;
      height: 50px;
      background: #000;
      opacity: 0.5;
      position: absolute;
      right: 0;
      -webkit-app-region: drag; }
    body #row div.header img {
      width: 40px;
      margin: 5px;
      padding: 10px; }
  body #row .card {
    background: #fff;
    border-radius: 2px; }
